* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    color: #FFFFFF;
}
.head {
    margin-top: 5px;
    margin: auto;
    margin-left: 45%;
}
.main {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 350px;
    background-color: #2700D6;
    border-radius: 50px;
    margin: auto;
    padding: 20px;
    box-shadow: 28px 17px 38px rgba(0, 0, 0, 0.5);
    margin-top: 90px;
    align-items: center;
    margin-bottom: 20px;
}
.main2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rotate {
    width: 20px;
    height: 20px;
}

.settings {
    width: 20px;
    height: 20px;
}

.black,
.white {
    width: 20px;
    height: 20px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    border: 1px solid black;
}
.mimi {
    width: 390px;
    border: 5px solid;
    padding: 3px;
    border-radius: 2px;
}
.right {
    margin: 10px;
    padding: 10px;
}
.texts{
    position: absolute;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
}
.topText {
    top: 15%;
    right: 0;
    left: 5%;
}
.bottomText {
    top: 60%;
    right: 0;
    left: 5%;
}
.left {
    position: relative;
    border-radius: 10px;
    margin-left: 10px;
}
.left img{
    margin-left: 5px;
    border-radius: 20px;
    width: 400px;
    height: 300px;
}
.main-footer {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 355px;

}
.footer1 {
    display: flex;
    height: 20px;
    width: 400px;
    margin-bottom: 5px;
}

.footer1 input {
    width: 300px;
    background-color: rgb(219, 219, 219);
}

.mimis img {
    width: 50px;
    height: 50px;
}

.mimis {
    width: 355px;
}

.footer2 {
    width: 370px;
    margin-bottom: 10px;
    margin-top: 10px;
}
p{
    font-weight: 600;
}
.footer3 {
    display: flex;
    justify-content: space-between;
    width: 390px;
    margin-top: 20px;
    margin-bottom: -30px;
}
.upload,
.btn-pop,
.inputmeme {
    padding: 10px;
    border-radius: 5px;
}

.btn-my {
    padding: 10px 7px;
    border-radius: 5px;
}

.mimify {
    margin-top: 10px;
}
.file{
    background-color: aqua;
    padding: 10px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.head1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 390px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -40px;
    align-items: center;
}
.head1 div{
    padding: 10px;
}
