.main-header{
    display: flex;
}
.main-header button{
    padding: 5px;
}
.rotate{
    width: 20px;
    height: 20px;
}
.main-footer{
    display: flex;
    justify-content: space-between;
}
.footer1{
    display: flex;
    height: 20px;
}
.settings{
    width: 15px;
    height: 15px;
}
.black , .white{
    width:20px;
    height: 20px;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}