*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;

}
.head{
    margin-top: 5px;
    margin: auto;
    margin-left: 45%;
}
.main{
    display: flex;
    flex-direction: row;  
    width: 850px;
    background-color: rgb(86, 48, 255);
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    box-shadow: 28px 17px 38px rgba(0, 0, 0, 0.5);
}
.main-header{
    display: flex;
    justify-content: space-between;
    margin-right: -16px;
    margin-bottom: 5px;
    vertical-align: middle;
    align-items: center;
}
.main-header button{
    padding: 5px;
    border-radius: 5px;
    margin: 0%;
}
.main-header img{
}
.rotate{
    width: 20px;
    height: 20px;
}
.settings{
    width: 20px;
    height: 20px;
}
.black , .white{
    width:20px;
    height: 20px;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
    border: 1px solid black;
}
.mimi{
    width: 390px;
}
.right {
    border: 1px solid black;
    margin: 10px;
    margin-top: 26px;
    padding: 10px;
}
.left{
    margin-left: 20px;
    margin-bottom: 10px;
}
.main-footer {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 390px;
}
.footer1 {
    display: flex;
    height: 20px;
    width: 400px;
    margin-bottom: 5px;
}
.footer1 input{
    width: 300px;
    background-color: rgb(219, 219, 219);
}
.mimis img{
    width: 50px;
    height: 50px;
}
.footer2{
    width: 400px;
    margin-bottom: 10px;
}
.footer3{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 10px;
}
.generate{
    padding: 10px;
    background-color: aqua;
}
.reset{
    padding: 10px;
    background-color: aqua;
}
