*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    height: 90vh;
}
button{
    cursor: pointer;
    border-radius: 5px;
    color: black;
    background-color: aqua;
    padding: 10px;
    font-weight: bold;
}
#meme {
    width: 100%;
  }