body {
    background-color: hsl(206, 40%, 90%);

    box-sizing: border-box;
    margin: 5rem 1rem 1rem 1rem;
}
.grid-content {
    display: grid;
    gap: 1.5rem;
}
.aboutUs {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    letter-spacing: 1.5px;

    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    touch-action: manipulation;
}
.aboutUs:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.aboutUs:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.headline {
    color: rgb(112, 110, 110);
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    text-align: center;
    margin-block: 2rem;
}
.block-container {
    position: relative;
    display: block;
    text-align: center;
    max-width: 20rem;

    margin: auto;
}
.profile {
    max-width: 20rem;

    background-color: white;
    box-shadow: 2px 1px 8px gray;
    border-radius: 10px;

    overflow: hidden;
    margin: auto;
}
.image {
    background-color: rgba(255, 114, 44, 0.880);
    width: 15rem;
    padding: 8px;
    border-radius: 50%;

    margin: 1rem;
}
.social-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 4px;
    margin-bottom: 1rem;
}
.social {
    width: 2.5rem;
}
.name {
    color: black;
    font-size: x-large;

    margin: .5rem;
    letter-spacing: 2px;
}
.about {
    position: absolute;
    top: 6.7%;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    flex-direction: column;

    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    opacity: .9;
    /* background-color: hsla(0, 0%, 100%, 0.900); */
    border-radius: 10px;
    width: 18rem;
    align-items: center;

    box-shadow: 2px 1px 8px gray;
    margin: 6px auto;

    overflow: hidden;
    z-index: 10;
}
p {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;

    /* color: radial-gradient(circle, #051937, #004164, #006b73, #00935e, #8db338); */
    margin: 0%;
}
.expand {
    width: 1.5rem;
}
.bio[data-expand="false"]{
    display: none;
}
.bio[data-expand="true"]{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 25.3rem;

    animation: pop 2s normal forwards ease-out;
}
@keyframes pop {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.seperation {
    position: relative;

    padding: 2.5rem;
}

@media (min-width: 26.5rem) {
    .about {
        width: 20rem;
    }
}

@media (min-width: 70rem) {
    .grid-content {
        grid-template-columns: 1fr 1fr;
    }
    .bio {
        padding: 5px;
    }
}